[Unit]
Description=Auto update staging repo i386

[Service]
ExecStart=/home/y/auto-update-repo.sh /data/www/zzy/staging/repo/NSDL-V3/x86_64

[Install]
WantedBy=default.target
